.numbered-list {
  list-style-type: decimal;
  font-size: 1rem;
}

.numbered-list--alpha {
  list-style-type: lower-alpha;
}

.numbered-list--roman {
  list-style-type: lower-roman;
}

.numbered-list-item {
  list-style-position: inside;
  padding-bottom: 0.25rem;
}

.numbered-list-nested {
  padding-left: 1.25rem;
}
