.heading-2 {
  font-weight: bold;
  font-size: 1.5rem; /* text-2xl */
}

.heading-2-container {
  padding-bottom: 0.75rem;
}

.heading-toggle {
  cursor: pointer;
}

.heading-toggle:hover {
  opacity: 0.8;
}

.heading-toggle-content {
  padding-top: 0.25rem;
  padding-left: 1.25rem;
}

.heading-link {
  display: inline-block;
}
