.heading-3 {
  font-weight: bold;
  font-size: 1.25rem; /* text-xl */
}

.heading-3-container {
  padding-bottom: 0.5rem;
}

.heading-toggle {
  cursor: pointer;
}

.heading-toggle:hover {
  opacity: 0.8;
}

.heading-toggle-content {
  padding-top: 0.25rem;
  padding-left: 1rem;
}

.heading-link {
  display: inline-block;
}
