.bulleted-list {
  list-style-type: disc;
  font-size: 1rem; /* text-base */
}

.bulleted-list--circle {
  list-style-type: circle;
}

.bulleted-list--square {
  list-style-type: square;
}

.bulleted-list-item {
  list-style-position: inside;
  padding-bottom: 0.25rem; /* pb-1 */
}

.bulleted-list-nested {
  padding-left: 1.25rem; /* pl-5 */
  font-size: 1rem; /* text-base */
}
