.ptn-blk-annotations-color-gray {
  color: rgb(120, 119, 116);
}

.ptn-blk-annotations-color-brown {
  color: rgb(159, 107, 83);
}

.ptn-blk-annotations-color-orange {
  color: rgb(217, 115, 13);
}

.ptn-blk-annotations-color-yellow {
  color: rgb(203, 145, 47);
}

.ptn-blk-annotations-color-green {
  color: rgb(68, 131, 97);
}

.ptn-blk-annotations-color-blue {
  color: rgb(51, 126, 169);
}

.ptn-blk-annotations-color-purple {
  color: rgb(144, 101, 176);
}

.ptn-blk-annotations-color-pink {
  color: rgb(193, 76, 138);
}

.ptn-blk-annotations-color-red {
  color: rgb(212, 76, 71);
}

.ptn-blk-annotations-color-gray-background {
  background-color: rgb(241, 241, 239);
}

.ptn-blk-annotations-color-brown-background {
  background-color: rgb(244, 238, 238);
}

.ptn-blk-annotations-color-orange-background {
  background-color: rgb(251, 236, 221);
}

.ptn-blk-annotations-color-yellow-background {
  background-color: rgb(251, 243, 219);
}

.ptn-blk-annotations-color-green-background {
  background-color: rgb(237, 243, 236);
}

.ptn-blk-annotations-color-blue-background {
  background-color: rgb(231, 243, 248);
}

.ptn-blk-annotations-color-purple-background {
  background-color: rgb(244, 240, 247);
}

.ptn-blk-annotations-color-pink-background {
  background-color: rgb(249, 238, 243);
}

.ptn-blk-annotations-color-red-background {
  background-color: rgb(253, 235, 236);
}