.ptn-blk-blocks-heading3 {
  font-weight: bold;
  font-size: 1.25rem; /* text-xl */
}

.ptn-blk-blocks-heading3-container {
  padding-bottom: 0.5rem;
}

.ptn-blk-blocks-heading-toggle {
  cursor: pointer;
}

.ptn-blk-blocks-heading-toggle:hover {
  opacity: 0.8;
}

.ptn-blk-blocks-heading-toggle-content {
  padding-top: 0.25rem;
  padding-left: 1rem;
}

.ptn-blk-blocks-heading-link {
  display: inline-block;
}